/*------------ FONTS ------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@700&family=Raleway:wght@900&display=swap');/*------------ Lato/Oswald/Raleway fonts ------------*/


/*------------ GENERAL BORDER------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*------------ BODY ------------*/


body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/*------------ LOGO ------------*/
img#logo {
    width: 60px;
}

/*------------ NAVIGATION LINKS------------*/
.bg-dark {
    background-color: #000000!important;
}
.navbar-brand h1{
   font-weight: bold;
   color: #ffd200;
}
.navbar-brand p{
   font-size: 16px;
   letter-spacing: 2px;
   margin: 0px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    transition: 0.3s;
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link:hover {
   background: #ffd200;
   color: #000;
}
